{% extends 'base.html' %}
{% load static %}

{% block title%}
Мой дневник
{% endblock %}

{% block body%}
<div class="container  mt-5">
    <div class="container rounded mt-5 text-bg-dark">
        <div class="p-4 p-md-5 mb-4 rounded">
            <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Мой дневник</h1>
            <p class="lead my-3">Учитесь излагать мысли и выводите слова в активный словарный запас. Отслеживайте прогресс и анализируйте ошибки. Выполняйте письменные задания и пишите конспекты.</p>
            <a class="btn btn-outline-warning rounded-pill non_underline" href="{% url 'new_day' %}">Добавить новый день</a>
            </div>
        </div>
    </div>
    <div class="container  mt-5">
    {% for p in object_list %}
        <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Дневник</strong>
            <h3 class="mb-0">
                Дорогой дневник
                {% if p.title %},
                {{ p.title }}
                {% endif %}
            </h3>
            <div class="mb-1 text-muted">{{ p.date|date:"d.m.Y" }}</div>
            {% autoescape off %}
            <p class="card-text mb-auto">{{ p.text|striptags|truncatewords:25}}</p>
            {% endautoescape %}
            <a href="my_diary/{{p.pk}}" class="stretched-link">Читать полностью</a>
            </div>
            <div class="col-auto d-none d-lg-block mt-4 me-4">
                <img src="{% static '/images/diary.png' %}" alt="diary" width="350" height="230">
            </div>
        </div>
        </div>
    {% endfor %}
    {% include 'common/inc/_pagination.html' %}
    </div>
</div>
{% endblock %}