{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link type="text/css" href="{% static 'common/css/tables.css' %}" rel="stylesheet" />
{% endblock %}

{% block title%}
Дорогой дневник...
{% endblock %}

{% block body%}
<div class="container mt-5 alert article-panel">
    <h1>Дорогой дневник...</h1>
    {% if day.title %}
    <h2 class="mb-0">{{ day.title }}</h2>
    {% endif %}
    <p>Дата: {{ day.date|date:"d.m.Y" }}</p>
   {% autoescape off %}
   {{day.text}}
   {% endautoescape %}
    <a href="{{day.pk}}/edit" class="btn btn-outline-primary non_underline" >Редактировать</a>
</div>
{% endblock %}