{% extends 'base.html' %}

{% block title%}
Ошибка 500
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1>Ошибка 500</h1>
    <p>Внутренняя проблема сервера. Ошибка 500.</p>
    <p>С сервером произошла какая-то неведомая ситуация, а если быть точнее...</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-98mF2L51CU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}