{% extends "base.html" %}

{% block title%}
Пароль успешно изменен
{% endblock %}

{% block body %}
<div class="container">
    <h1>Пароль успешно изменен</h1>
    <p>Посмотрите видео про то, как правильно хранить пароли</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CSVSBNU0cD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endblock %}