{% extends "base.html" %}
{% load static %}

{% block styles %}
<link type="text/css" href="{% static 'reader/css/styles.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'common/css/tables.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'text_books/css/text_book_manager_styles.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
{{ constants|json_script:'constants' }}
{% endblock %}

{% block title%}
Читать книгу
{% endblock %}

{% block body%}
<main class="container">
    <div id="root"></div>
</main>


<script src="{% static 'reader/js/pdf_reader.js' %}"></script>
{% endblock  %}