{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link type="text/css" href="{% static 'text_books/css/styles.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'text_books/css/text_book_manager_styles.css' %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
{{ constants|json_script:'constants' }}
{% endblock %}

{% block title%}
Учебник
{% endblock %}

{% block body%}
<main>
    <div id="root"></div>
</main>
<script src="{% static 'text_books/js/text_book_manager.js' %}"></script>
<script src="{% static 'text_books/js/tinymce/tinymce.min.js' %}"></script>
{% endblock %}