{% extends "base.html" %}
{% load static %}

{% block title%}
Импорт слов
{% endblock %}

{% block body%}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Импорт слов</h1>
        <div class="my-5">
            <p>Инструкция по импортированию</p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{form.file.label_tag}}
                    {{form.file}}
                </p>
                <p>
                    {{form.save_word_with_invalid_context}}
                    <span>{{form.save_word_with_invalid_context.label_tag}}</span>
                </p>

                <button type="submit" class="btn btn-outline-primary">Импортировать</button>
            </form>
           
        </div>   
    </div>
  </main>
{% endblock %}